# PDF Input Path
PDF_PATH=input/POC_TEST_SPA.pdf

# Ollama LLM Config
OLLAMA_MODEL=gemma4:31b-cloud
OLLAMA_BASE_URL=http://localhost:11434

# LANGCHAIN / LANGSMITH CONFIGURATION
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=execo-poc
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

HF_TOKEN=
EXTRACTION_MODE=sequential